ConnectionStrings__Postgres=Host=localhost;Port=5432;Database=banking_app;Username=postgres;Password=super_secret_password
ConnectionStrings__PostgresTest=Host=localhost;Port=5432;Database=banking_app_test;Username=postgres;Password=super_secret_password

POSTGRES_DB=banking_app
POSTGRES_USER=
POSTGRES_PASSWORD=